* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.60), 
    rgba(0, 0, 0, 0.60)), url(./images/1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 100%;
    height: auto; */
    padding: 30px 20px;
    color: #FFFFFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.left {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
}

.right {
    background-color: rgb(172, 19, 19);
    color: #FFFFFF;
    padding: 7px 20px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
}

.hero-details {
    max-width: 550px;
    margin-inline: auto;
    margin-top: 50px;
} 

.hero-details h1{ 
    margin: 20px 0;
    font-size: 45px;
    text-align: center;
}

.hero-details p{ 
    margin: 25px 0;
    font-size: 15px;
    line-height: 20px;
}

.hero-button {
    background-color: #2596BE;
    color: #FFFFFF;
    padding: 7px 22px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 100px;
}

.hero-button:hover {
    background-color: #015675;
}

.gallery {
    max-width: 550px;
    margin-inline: auto;
    text-align: center;
}

.gallery h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 35px;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tags button {
    background-color: #FFFFFF;
    color: #2596BE;
    padding: 10px 30px;
    border: 1px solid #2596BE;;
    border-radius: 22px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tags button:hover {
    background-color: #2596BE;
    color: #FFFFFF;
}

.img {
    width: 170px;
    height: auto;
    margin-right: 15px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 15px;
}



